.about{
    background: #000;
}

.header1{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* .header h1:hover .header{
    border-left: 2px solid #1B9AAA;
} */